@{
    ViewBag.Title = "About";
}
<h2 class="titleE">@ViewBag.Title</h2>

<p>The creators of this site are<br />
    <span>Raz Ingber</span><br />
    <span>Zur Doron</span><br />
    <span>Harel Gelberg</span><br />
    <span>Maayan Fael</span></p><br />
