@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>The creators of this site are<br />
    <label>Raz Ingber</label><br />
    <label>Zur Doron</label><br />
    <label>Harel Gelberg</label><br />
    <label>Maayan Fael</label></p><br />
