@{
    ViewBag.Title = "Contact";
}
<h2 class="titleF">@ViewBag.Title</h2>

<address>
    Students team<br />
    <span>Raz Ingber</span><br />
    <span>Zur Doron</span><br />
    <span>Harel Gelberg</span><br />
    <span>Maayan Fael</span></p><br />
    Hamichlala leMinhal<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:maayanfael@gmail.com">Maayanfael@gmail.com</a><br />
</address>