@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Students team<br />
    Hamichlala leMinhal<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:maayanfael@gmail.com">Maayanfael@gmail.com</a><br />
</address>